@inject NavigationManager NavManager

<MudContainer MaxWidth="MaxWidth.Large" Class="pt-4 px-4 px-sm-8">

    <div class="mb-6 d-flex align-center">
        <MudIcon Icon="@Icons.Material.Filled.Assignment" Class="mr-2" />
        <MudText Typo="Typo.h6" Class="font-weight-bold">Propuestas de TFE</MudText>
    </div>

    <div class="d-block d-sm-none mb-6">
        <MudText Typo="Typo.h3" Class="mb-2 mt-4 font-weight-bold">@MobileTitle</MudText>
    </div>

    @ChildContent

</MudContainer>

@code {
    [Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = default!;
    [Parameter] public string MobileTitle { get; set; } = "Descubrir propuestas";
}